@import "../../styles/colors.scss";
.header {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  border-top: 20px solid $primaryDark;
  align-items: center;

  img {
    margin-top: 40px;
    height: 60px;
  }

  h1 {
    color: $white;
    margin: 16px 0 40px;
  }
}
